---
kind: Deployment
apiVersion: apps/v1
metadata:
 # name: podinfo
  name: mighty-fine
  namespace: dev
  #annotations:
  #  flux.weave.works/tag.podinfod: glob:*
  #  flux.weave.works/automated: 'true'
spec:
  replicas: 4
  selector:
    matchLabels:
      #app: dev
      app: mighty-fine
  template:
    metadata:
      labels:
        #app: podinfo
        app: mighty-fine
      annotations:
        prometheus.io/scrape: 'true'
    spec:
      containers:
      #- name: podinfod
      - name: mighty-fine
        #image: quay.io/stefanprodan/podinfo:1.5.1
        image: quay.io/repository/brice/metrics-demo:v4-subscription-service
      #  command:
      #  - ./podinfo
      #  - --port=9898
        ports:
       # - containerPort: 9898
        - containerPort: 3000
        #readinessProbe:
        #  httpGet:
        #    path: /readyz
        #    port: 9898
        #  initialDelaySeconds: 1
        #  periodSeconds: 5
        #  failureThreshold: 1
        #livenessProbe:
        #  httpGet:
        #    path: /healthz
        #    port: 9898
        #  initialDelaySeconds: 1
        #  periodSeconds: 10
        #  failureThreshold: 2
        resources:
          requests:
            memory: "32Mi"
            cpu: "10m"
